<!DOCTYPE html>
  <html lang="en">
  <head>
    <title>{{title}}</title>
    {{#each scripts.vendors}}
      <script type="text/javascript" src="{{this}}"></script>
    {{/each}}
    {{#each styles.vendors}}
      <link rel="stylesheet" href="{{this}}" />
    {{/each}}
    <!-- App style -->
    {{#each styles.bundles}}
      <link rel="stylesheet" href="{{this}}" />
    {{/each}}
  </head>
  <body>
    <div data-ui-role="content">
      <app></app>
    </div>
    <!-- App bundle -->
    {{#each scripts.bundles}}
      <script type="text/javascript" src="{{this}}"></script>
    {{/each}}
  </body>
</html>